{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}
{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'divassist_web/login.css' %}" />
    <style>
        body {
            background: url({% static 'divassist_web/img_src/login_back.jpg' %}) no-repeat center center fixed;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="form-container">
        <p class="title-font-dark">Welcome back.</p>
        {% if form.errors %}
        <!-- TODO: This to be handled nicely. -->
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form method="post" action=".">{% csrf_token %}
            <table>
                <tr><th><label for="id_username">Username</label></th><td>{{ form.username }}</td></tr>
                <tr><th><label for="id_password">Password</label></th><td>{{ form.password }}</td></tr>
            </table>
            <button id="submit-button" type="submit">Login</button>
            <input type="hidden" name="next" value="/home_page" />
        </form>
        <p style="margin-top: 0.5em;">New to DivAssist? <a class="link-dark" href="/register">Register</a> now!</p>
    </div>
{% endblock %}

{% block extra-js %}
    <script src="{% static 'divassist_web/login.js' %}"></script>
{% endblock %}