{% extends "base.html" %}
{% block title %}Pick your home station{% endblock %}
{% block head %}Pick your home station{% endblock %}
{% block content %}
    <p>Hello {{ user.username }}, you can save your home stations that are close to you</p>
    <p>Your current home stations are</p>
	{% for ch in currenthomes %}

		<ul>{{ch.station_name}}</ul>
	{% endfor %}

    <form method="post">{% csrf_token %}
    {{ form.as_p }}
	</form>
    <a href="/home_page/">Save &amp; Continue</button>
{% endblock %}