{% load static %}

<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'general.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Overpass:400" rel="stylesheet">
        <title>DivAssist | {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="nav">
            <div id="logo">
                Di<span class="divvy_blue">v</span>A<span class="divvy_blue">ss</span>ist
            </div>
        </div>
        <div id="padding-block"></div>
        {% block content %}{% endblock %}

        <div id="footer">
            <div class="footer-sec">
                <div class="footer-title">Follow Us</div>
                <div id="social-media">
                    <a href="#"><img class="social-media-logo" src="{% static 'img_src/logo_fb.png' %}" /></a>
                    <a href="#"><img class="social-media-logo" src="{% static 'img_src/logo_inst.png' %}" /></a>
                    <a href="#"><img class="social-media-logo" src="{% static 'img_src/logo_twit.png' %}" /></a>
                </div>
            </div>
            <div class="footer-sec">
                <div class="footer-title">Contact us</div>
                <p>divassist@uchicago.edu</p>
            </div>
            <div class="footer-sec" style="float: right; padding: 0;">
                <div id="logo">
                    Di<span class="divvy_blue">v</span>A<span class="divvy_blue">ss</span>ist
                </div>
                <p>&copy; <span id="cur-year">2017</span> Project DivAssist</p>
            </div>

            <!-- For auto-adjusting of wrapper div height -->
            <div style="clear: both;"></div>

        </div>
    </body>
</html>