{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'divassist_web/home.css' %}" />
{% endblock %}
{% block user-specific %}
Welcome, {{ user.username }}. (<a class="link-white" href="/logout/">Logout</a>)
{% endblock %}
{% block content %}
    <div id="greeting" class="title-font-dark">Good <span id="greeting-time"></span>, {{ user.username }}.</div>
    <!-- Now you are logged in and it is the home page. We are still working on developing the meaty part of it. -->
    <div id="home-nav">
        <div class="first-level-option" func="expand">Rides</div>
        <div class="second-level-option" func="load" dest="/upload_ride/">Upload</div>
        <div class="second-level-option" func="load" dest="/search_ride/">Search</div>
        <div class="second-level-option" func="load" dest="/view_rides/">View</div>
        <!-- <div class="first-level-option" func="load" dest="">Prediction</div> -->
        <div class="first-level-option" func="load" dest="/registration/change_password/">Account</div>
        <!-- <div class="first-level-option" func="load" dest="">Help</div> -->
        <div class="first-level-option" func="land" dest="/logout/">Logout</div>
    </div>
    <div id="load-window">
        LOAD WINDOW
    </div>
    <!-- For auto-adjusting of wrapper div height -->
    <div style="clear: both;"></div>
    <a href="/upload_ride/">Upload ride</a>
    <a href="/search_ride/">Search ride</a>
    <a href="/view_rides/">View rides</a>
    <a href="/registration/change_password/">Reset my password</a>
{% endblock %}

{% block extra-js %}
    <script src="{% static 'divassist_web/home.js' %}"></script>
{% endblock %}