{% extends "window_base.html" %}
{% load static %}

{% block title %}Find Rides{% endblock %}
{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'divassist_web/home.css' %}" />
{% endblock %}

{% block content %}
<div id="section-title">
    <p class="title-font-dark" style="padding-bottom: 0.25em;">Search rides.</p>
    <p>Find the Divvy rides that fit you the best.</p>
</div>

<div id="form-container">
    {% if form.errors %}
        <!-- TODO: This to be handled nicely. -->
        <p>Form errors.</p>
        {{ form.errors }}
    {% endif %}
    <form method="post" action=".">{% csrf_token %}
        <table>
            <tr><th><label for="id_username">Ride Title</label></th><td>{{ form.title }}</td></tr>
            <tr><th><label for="id_email">Starting Neighborhood</label></th><td>{{ form.start_neighborhood }}</td></tr>
            <tr><th><label for="id_email">Ending Neighborhood</label></th><td>{{ form.end_neighborhood }}</td></tr>
            <tr><th><label for="id_email">Difficulty Type</label></th><td>{{ form.difftype }}</td></tr>
            <tr><th><label for="id_email">Difficulty (1-10)</label></th><td>{{ form.difficulty }}</td></tr>
        </table>
        <button id="submit-button" type="submit">Submit Ride Search</button>
            <input type="hidden" name="next" value="/home_page" />
    </form>
</div>
{% endblock %}
<!--
UNCOMMENT THIS AFTER JS IS DONE
{% block extra-js %}
	<script src="{% static 'divassist_web/YOUR_JS' %}"></script>
{% endblock %}
-->