{% extends "window_base.html" %}
{% load static %}

{% block title %}Upload Ride{% endblock %}
{% block extra-css %}
    <!-- css for search_ride is included here instead because a lot of 
         styles are recycled. -->
    <link rel="stylesheet" type="text/css" href="{% static 'divassist_web/search_ride.css' %}" />
{% endblock %}

{% block content %}
    <div id="section-title">
        <p class="title-font-dark" style="padding-bottom: 0.25em;">Upload rides.</p>
        <p>Be generous, share your favorite Divvy rides with others.</p>
    </div>

    <div id="form-container">
        {% if form.errors %}
            <!-- TODO: This to be handled nicely. -->
            <p>Form errors.</p>
            {{ form.errors }}
        {% endif %}
        <form method="post" action=".">{% csrf_token %}
            <table>
                <tr><th><label for="ride_title">Ride Title</label></th><td>{{ form.title_text }}</td></tr>
                <tr><th><label for="ride_desc">Description</label></th><td>{{ form.desc_text }}</td></tr>
                <tr><th><label for="ride_start">Starting Neighborhood</label></th><td>{{ form.s_neighborhood }}</td></tr>
                <tr><th><label for="ride_stop">Stop (Associated Station)</label></th><td>{{ form.stop }}</td></tr>
                <tr><th><label for="ride_end">Ending Neighborhood</label></th><td>{{ form.e_neighborhood }}</td></tr>
                <tr><th><label for="ride_difficulty">Difficulty (1-10)</label></th><td>{{ form.difficulty }}</td></tr>
                <tr><th><label for="ride_tags">Tags (Separated by Commas)</label></th><td>{{ form.tags }}</td></tr>
            </table>
            <button id="submit-button" type="submit">Submit Ride</button>
            <input type="hidden" name="next" value="/home_page" />
        </form>
    </div>
{% endblock %}

{% block extra-js %}
    <!-- JS of login is included here for recycle. -->
    <script src="{% static 'divassist_web/login.js' %}"></script>
{% endblock %}