{% extends "base.html" %}
{% load static %}

{% block title %}View your rides{% endblock %}
{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'divassist_web/home.css' %}" />
    
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'divassist_web/login.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'divassist_web/register.css' %}" />
    <style>
        body {
            background: url({% static 'divassist_web/img_src/register_back.jpg' %}) no-repeat center center fixed;
        }
    </style> -->
{% endblock %}
{% block user-specific %}
Welcome, {{ user.username }}. (<a class="link-white" href="/logout/">Logout</a>)
{% endblock %}
{% block content %}
<p>Hello {{ user.username }}, these are all of the Rides in our database:</p>
{% for ride in rides %}
    <br>
    <p>-------------------------------------------------------------------------------</p>
    <br>
    <p>Ride Title - {{ ride.title_text }}</p>
    <p>Date Published - {{ ride.pub_date }}</p>
    <p>Description - {{ ride.desc_text }}</p>
    <p>Starting Neighborhood - {{ ride.s_neighborhood }}</p>
    <p>Ending Neighborhood - {{ ride.e_neighborhood }}</p>
    <p>Difficulty - {{ ride.difficulty }}</p>
    <p>Creator - {{ ride.owner.username }}</p>
{% endfor %}
{% endblock %}
<!--
UNCOMMENT THIS AFTER JS IS DONE
{% block extra-js %}
	<script src="{% static 'divassist_web/YOUR_JS' %}"></script>
{% endblock %}
-->