{% extends "base.html" %}
{% load static %}

{% block title %}View your rides{% endblock %}
{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'divassist_web/home.css' %}" />
{% endblock %}
{% block user-specific %}
Welcome, {{ user.username }}. (<a class="link-white" href="/logout/">Logout</a>)
{% endblock %}
{% block content %}
    <p>Hello {{ user.username }}, this is what a random Ride looks like:</p>
    <br>
    <p>Ride Title - {{ ride.title_text }}</p>
    <p>Date Published - {{ ride.pub_date }}</p>
    <p>Description - {{ ride.desc_text }}</p>
    <p>Starting Neighborhood - {{ ride.s_neighborhood }}</p>
    <p>Ending Neighborhood - {{ ride.e_neighborhood }}</p>
    <p>Difficulty - {{ ride.difficulty }}</p>
    <p>Creator - {{ ride.owner.username }}</p>
{% endblock %}
<!--
UNCOMMENT THIS AFTER JS IS DONE
{% block extra-js %}
	<script src="{% static 'divassist_web/YOUR_JS' %}"></script>
{% endblock %}
-->