html {
    min-width: 1280px;
    min-height: 900px;
}

body, p, div, img, a, input {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #263238;
}

#footer, nav, body {
    min-width: 860px;
}

#nav {
    background-color: #263238;
    width: 80%;
    padding: .75em 10% .75em 10%;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.logo {
    display: inline-block;
    font-family: 'Overpass', sans-serif;
    color: #FFFFFF;
    font-size: 2em;
}

#user-specific-container {
    float: right;
    display: inline-block;
    padding-top: 0.75em;
}

#user-specific-container > a {
    color: #FFFFFF;
}

.divvy_blue {
    color: #3DB7E4;
}

#padding-block {
    height: 4.5em;
    width: 100%;
}

#footer {
    background-color: #263238;
    width: 80%;
    padding: 2em 10% 2em 10%;
    display: block;
    z-index: 10;
    clear: both;
}

#footer p {
    color: #FFFFFF;
}

.footer-sec {
    display: inline-block;
    width: 30%;
    padding-right: 2em;
    vertical-align: top;
}

#social-media {
    padding: 0 0 0.5em 0;
}

.social-media-logo {
    height: 2em;
    margin-right: 1em;
}

.title-font-white {
    font-size: 1.5em;
    padding-bottom: 0.5em;
    font-family: 'Overpass', sans-serif;
    color: #FFFFFF;
}

.title-font-dark {
    font-size: 1.5em;
    padding-bottom: 0.5em;
    font-family: 'Overpass', sans-serif;
    color: #263238;
}

.font-white {
    color: #FFFFFF;
}

#main-container {
    width: 80%;
    padding: 2em 10% 2em 10%;
}

.link-dark:link, .link-dark:visited, .link-dark:hover, .link-dark:active {
    color: #263238;
}

.link-white:link, .link-white:visited, .link-white:hover, .link-white:active {
    color: #FFFFFF;
}